@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #F16F4F;
    --cor-secundaria: #0F3141;
    --fonte-principal: 'Poppins', sans-serif;
    --font-secundaria: 'Inter', sans-serif;
    --font-terciaria: 'Raleway';
}

*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    margin-top: 12px;
}

#menu-hamburguer{
    border: 0;
    background-color: transparent;
}

.menu-desktop{
    display: none;
}


/*----------------Iniciando a parte principal do design-----------------------*/

.secao-inicial{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.secao-inicial img{
    display: block;
    width: 100%;
    height: auto;
    
}

.secao-inicial .texto-imagem{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secao-inicial h1{
    font-size: 44px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    display: flex;
    
}

.secao-inicial p{
    color: var(--cor-secundaria);
    font-size: 14px;
    font-family: var(--font-secundaria);
}

.secao-inicial button{
    width: 242px;
    background-color: var(--cor-primaria);
    border: 0;
    border-radius: 4px;
    padding: 10px;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto-imagem img{
    width: 15%;
}

/*------------------------*/

.secao-oqueFornecemos{
    padding-top: 89px;
    background-color: #FAF8F4;
    margin-bottom: 80px;
}

.secao-oqueFornecemos h1{
    font-weight: 600;
    font-family: var(--fonte-principal);
    font-size: 40px;
    letter-spacing: -3px;
    display: flex;
    margin: 24px;
}

.secao-oqueFornecemos .sobre-home{
    padding-top: 53px;
    margin: 24px;
}

.sobre-home h2{
    font-size: 24px;
    letter-spacing: -2px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    padding-top: 12px;
    width: 75%;
}

.sobre-home p{
    margin-top: 16px;
    font-size: 16px;
    font-family: var(--font-secundaria);
    font-weight: 400;
    opacity: 50%;
}

.sobre-home .nowrap {
    white-space: nowrap;
  }

  .sobre-home .link-home{
    display: inline-block;
    padding-top: 24px;
    color: var(--cor-primaria);
    display: flex;
    align-items: center;
  }

  .sobre-home .link-home img{
    margin-left: 11px;
  }
  
/*-----*/


.secao-oqueFornecemos .sobre-cartao{
    padding-top: 53px;
    margin: 24px;
}

.sobre-cartao h2{
    font-size: 24px;
    letter-spacing: -2px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    padding-top: 12px;
    width: 75%;
}

.sobre-cartao p{
    margin-top: 16px;
    font-size: 16px;
    font-family: var(--font-secundaria);
    font-weight: 400;
    opacity: 50%;
}

.sobre-cartao .nowrap {
    white-space: nowrap;
  }

  .sobre-cartao .link-cartao{
    display: inline-block;
    padding-top: 24px;
    color: var(--cor-primaria);
    display: flex;
    align-items: center;
  }

  .sobre-cartao .link-cartao img{
    margin-left: 11px;
  }


/*--------*/
.secao-oqueFornecemos{
    height: 130vh;
}

.secao-oqueFornecemos .sobre-joia{
    padding-top: 53px;
    margin: 24px;
}

.sobre-joia h2{
    font-size: 24px;
    letter-spacing: -2px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    padding-top: 12px;
    width: 75%;
}

.sobre-joia p{
    margin-top: 16px;
    font-size: 16px;
    font-family: var(--font-secundaria);
    font-weight: 400;
    opacity: 50%;
}

.sobre-joia .nowrap {
    white-space: nowrap;
  }

  .sobre-joia .link-joia{
    display: inline-block;
    padding-top: 24px;
    color: var(--cor-primaria);
    display: flex;
    align-items: center;
  }

  .sobre-joia .link-joia img{
    margin-left: 11px;
  }

  /*---------------- Inicia a categoria dos produtos---------------*/

  .produtos h1{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -3px;
    font-family: var(--fonte-principal);
    width: 236px;
    
  }

  .produtos{
    display: flex;
    align-items: last baseline;
    margin: 24px;
  }



  .cartoes-moveis{
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    justify-items: center;
    gap: 0.6rem;
  }

.cartao{
    width: 100%;
    margin-bottom: 1rem;

}
  .cartao .descricao{
    font-family: var(--font-terciaria);
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 0.5;
    margin-top: 8px;
    font-weight: 400;
  }

  .cartao .nome-produto{
    font-family: var(--font-terciaria);
    font-size: 16px;
    color: var(--cor-secundaria);
  }

  .cartao .dimensoes{
    font-family: var(--font-terciaria);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 3px;
}

.cartao .preco{
    color: var(--cor-primaria);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1;
    font-family: var(--font-terciaria);
    }

.cartao .imagem{
    width: 100%;
    background-color: rgb(171, 171, 224);
    display: flex;
    justify-content: center;
    height: 208px;
    border-radius: 8px;
}

.cartao .imagem img{
    margin: 0rem 1rem;
    width: 60%;
}
