@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-primaria: #F16F4F;
    --cor-secundaria: #0F3141;
    --fonte-principal: 'Poppins', sans-serif;
    --font-secundaria: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    margin-top: 12px;
}

#menu-hamburguer{
    border: 0;
    background-color: transparent;
}

.menu-desktop{
    display: none;
}

.secao-inicial{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.secao-inicial img{
    display: block;
    width: 100%;
    height: auto;
    
}

.secao-inicial .texto-imagem{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secao-inicial h1{
    font-size: 44px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    display: flex;
    
}

.secao-inicial p{
    color: var(--cor-secundaria);
    font-size: 14px;
    font-family: var(--font-secundaria);
}

.secao-inicial button{
    width: 242px;
    background-color: var(--cor-primaria);
    border: 0;
    border-radius: 4px;
    padding: 10px;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto-imagem img{
    width: 15%;
}